<div class="row">
  <div class="col-xl-6">
    <app-code-preview [viewItem]="exampleBasicInputs">
      <div class="example-preview">
        <span>
          matInput is a directive that allows native
          <mark>input</mark> and <mark>textarea</mark> elements to work with
          <code>mat-form-field</code>.
        </span>
        <div class="separator separator-dashed my-6"></div>
        <div class="example-container">
          <form class="example-container">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Favorite food" value="Sushi" />
            </mat-form-field>
            <div class="separator separator-dashed my-6"></div>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </app-code-preview>
  </div>
</div>