<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom example example-compact gutter-b mb-0">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">USERS LIST</h3>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="example-preview p-0">
                        <div class="example-container">
                            <div class="table-responsive">
                                <table
                                    class="table table-bordered table-striped table-hover m-0 text-center table-with-image">
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>gender</th>
                                            <th>Date Of Birth</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of usersList; let i = index">
                                            <td>{{user.full_name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.phone_number}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.date_of_birth}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>