@import "../../../assets/sass/pages/login/login-1.scss";

:host {
  height: 100%;
}
.login-logo-aside{
  // background-image: url("../../../assets/media/logos/vsooq-logo.png");
  background-size: 40% auto !important;
  background-position: 50% 30%;
}